<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5 py-3 mb-5">
  <a class="navbar-brand" href=""><i class="fa fa-book-open"></i><span class="text-primary"> Contact</span> Diary</a>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contacts</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main min-vh-100">
  <router-outlet></router-outlet>
  <div class="text-center p-3">
    <a class="btn btn-primary" (click)="logout()" *ngIf="isAuthenticated()">Logout</a>
  </div>
</div>

<footer class="mt-auto bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="">Jalpan Patel</a>
  </div>
</footer>